In [30]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [31]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
476,tt1392197,50000000,83761844,Marmaduke,Owen Wilson|Emma Stone|George Lopez|Christophe...,Tom Dey,Live Large,When Phil and Debbie Winslow relocate from the...,87,Family|Comedy,Twentieth Century Fox Film Corporation,6/4/2010,4.9,2010
712,tt0490181,8000000,2033165,Mutant Chronicles,Ron Perlman|Thomas Jane|Devon Aoki|Sean Pertwe...,Simon Hunter,Welcome to the 23rd century. The new dark ages.,It's the year 2707. Earth's natural resources ...,111,Action|Adventure|Horror|Science Fiction,Isle of Man Film|Edward R. Pressman Film|Parad...,8/7/2008,5.1,2008
1062,tt1441951,11000000,59520298,Quartet,Maggie Smith|Tom Courtenay|Billy Connolly|Paul...,Dustin Hoffman,Four Friends Looking For A Little Harmony,"The directorial debut of Dustin Hoffman, Quart...",98,Drama|Comedy|Romance,Headline Pictures,9/8/2012,6.2,2012
1762,tt0489237,20000000,47738099,The Nanny Diaries,Scarlett Johansson|Laura Linney|Chris Evans|Pa...,Shari Springer Berman|Robert Pulcini,"A comedy about life at the top, as seen from t...",A college graduate goes to work as a nanny for...,106,Comedy|Drama|Romance,The Weinstein Company|FilmColony,8/24/2007,6.0,2007
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000

In [32]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [33]:
answers = {} # Создадим словарь для ответов.

import itertools

# 1. У какого фильма из списка самый большой бюджет?

In [34]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [35]:
data = pd.read_csv('movie_bd_v5.csv')

# Сортируем значения в колонке 'budget' по убыванию, выводим первую строку.
data.sort_values(by='budget', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [36]:
data = pd.read_csv('movie_bd_v5.csv')

# Находим максимальный бюджет, выводим на экран соответствующий фильм.
data[data['budget'] == data['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [37]:
answers['2'] = 'Gods and Generals'

In [38]:
data = pd.read_csv('movie_bd_v5.csv')

# Сортируем колонку 'runtime' по убыванию.
data.sort_values(by='runtime', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

ВАРИАНТ 2

In [39]:
data = pd.read_csv('movie_bd_v5.csv')

# Находим максимальную длительность, выводим на экран соответствующий фильм.
data[data['runtime'] == data['runtime'].max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [40]:
answers['3'] = 'Winnie the Pooh'

In [41]:
data = pd.read_csv('movie_bd_v5.csv')

# Сортируем колонку 'runtime' по возрастанию.
data.sort_values(by='runtime', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

ВАРИАНТ 2

In [42]:
data = pd.read_csv('movie_bd_v5.csv')

# Находим минимальную длительность, выводим на экран соответствующий фильм.
data[data['runtime'] == data['runtime'].min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [43]:
answers['4'] = '110.0'

In [44]:
data = pd.read_csv('movie_bd_v5.csv')

# Находим среднее в колонке 'runtime', округляем до целого числа.
round((data['runtime'].mean()))

110

# 5. Каково медианное значение длительности фильмов?

In [45]:
answers['5'] = '107'

In [46]:
data = pd.read_csv('movie_bd_v5.csv')

# Находим медиану в колонке 'runtime'.
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [47]:
answers['6'] = 'Avatar'

In [48]:
data = pd.read_csv('movie_bd_v5.csv')

# Создаём отдельную колонку 'profit'.
data['profit'] = data['revenue']-data['budget']

# Сортируем по убыванию значений в колонке 'profit'.
data.sort_values(by='profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

ВАРИАНТ 2

In [49]:
data = pd.read_csv('movie_bd_v5.csv')

# Создаём отдельную колонку 'profit'.
data['profit'] = data['revenue']-data['budget']

# Находим максимальное значение в колонке 'profit', выводим название соответствующего фильма.
data[data['profit'] == data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [50]:
answers['7'] = 'The Lone Ranger'

In [51]:
data = pd.read_csv('movie_bd_v5.csv')

# Создаём отдельную колонку 'profit'.
data['profit'] = data['revenue']-data['budget']

# Сортируем по возрастанию значений в колонке 'profit'.
data.sort_values(by='profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

ВАРИАНТ 2

In [52]:
data = pd.read_csv('movie_bd_v5.csv')

# Создаём отдельную колонку 'profit'.
data['profit'] = data['revenue']-data['budget']

# Находим минимальное значение в колонке 'profit', выводим название соответствующего фильма.
data[data['profit'] == data['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [53]:
answers['8'] = '1478'

In [54]:
data = pd.read_csv('movie_bd_v5.csv')

# Оставляем только фильмы, у которых сборы превышают бюджет; считаем количество элементов.
len(data[data['revenue'] > data['budget']])

1478

ВАРИАНТ 2

In [55]:
data = pd.read_csv('movie_bd_v5.csv')

# Считаем количество фильмов, (не)удовлетворяющих условию; True = искомое значение.
Counter(data['revenue'] > data['budget'])

Counter({True: 1478, False: 411})

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [56]:
answers['9'] = 'The Dark Knight'

In [57]:
data = pd.read_csv('movie_bd_v5.csv')

# Фильтруем фильмы по году выхода, сортируем по убыванию.
data.query('release_year == 2008').sort_values(by='revenue', ascending=False).\
head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [58]:
answers['10'] = 'The Lone Ranger'

In [59]:
data = pd.read_csv('movie_bd_v5.csv')

# Создаём отдельную колонку 'profit'.
data['profit'] = data['revenue']-data['budget']

# Фильтруем по году выхода, сортируем по возрастанию.
data.query('2012 <= release_year <= 2014').\
sort_values(by='profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [60]:
answers['11'] = 'Drama'

In [61]:
data = pd.read_csv('movie_bd_v5.csv')

# Разносим жанры по отдельным строкам.
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
data = data['genres'].explode()

# Считаем вхождения и выводим список жанров в порядке убывания.
data.value_counts().sort_values(ascending=False).head(1)

Drama    782
Name: genres, dtype: int64

ВАРИАНТ 2

In [62]:
data = pd.read_csv('movie_bd_v5.csv')

# Считаем вхождения жанров в дата-сет и выводим самый частый.
Counter(data['genres'].str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [63]:
answers['12'] = 'Drama'

In [64]:
data = pd.read_csv('movie_bd_v5.csv')

# Создаём колонку 'profit'.
data['profit'] = data['revenue']-data['budget']

# Разносим жанры по отдельным строкам.
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
data = data.explode('genres')

# Оставляем только фильмы с положительной прибылью.
data = data[data['profit'] > 0]

# Считаем количество вхождений.
data['genres'].value_counts().head(1)

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [65]:
answers['13'] = 'Peter Jackson'

In [66]:
data = pd.read_csv('movie_bd_v5.csv')

# Разделяем колонку 'directors'.
data['director'] = data['director'].apply(lambda x: x.split('|'))

# Разносим режиссёров по разным строкам.
data = data.explode('director')

# Высчитываем суммарные сборы по каждому режиссёру, сортируем.
data.groupby(['director'])['revenue'].sum().\
sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [67]:
answers['14'] = 'Robert Rodriguez'

In [68]:
data = pd.read_csv('movie_bd_v5.csv')

# Оставляем только фильмы жанра 'Action'.
data = data[data['genres'].str.contains('Action', na=False)].copy()

# Разносим режиссёров по разным строкам.
data['director'] = data['director'].apply(lambda x: x.split('|'))
data = data.explode('director')

# Считаем количество вхождений.
data['director'].value_counts().head(1)

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [69]:
answers['15'] = 'Chris Hemsworth'

In [70]:
data = pd.read_csv('movie_bd_v5.csv')

# Фильтруем фильмы по году выпуска.
data = data.query('release_year == 2012')

# Разносим всех актёров по разным строкам.
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data = data.explode('cast')

# Группируем актёров по прибыльности фильмов, сортируем.
data.groupby(['cast'])['revenue'].\
sum().sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [71]:
answers['16'] = 'Matt Damon'

In [72]:
data=pd.read_csv('movie_bd_v5.csv')

# Разносим всех актёров по разным строкам.
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data = data.explode('cast')

# Считаем количество фильмов с бюджетом выше среднего для каждого актёра.
data.loc[data['budget'] > data['budget'].mean()]['cast']\
.value_counts(ascending=False).head(1)

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [73]:
answers['17'] = 'Action'

In [74]:
data = pd.read_csv('movie_bd_v5.csv')

# Оставляем фильмы только с участием Николаса К.
data = data[data['cast'].str.contains('Nicolas Cage')]

# Считаем вхождения каждого жанра.
Counter(data['genres'].str.split('|').sum()).most_common(1)

[('Action', 17)]

ВАРИАНТ 2

In [75]:
data = pd.read_csv('movie_bd_v5.csv')

# Оставляем фильмы только с участием Николаса К.
data = data[data['cast'].str.contains('Nicolas Cage')]

# Разносим жанры по разным строкам.
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
data = data.explode('genres')

# Подсчитываем количество вхождений каждого жанра.
data['genres'].value_counts().head(1)

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [76]:
answers['18'] = 'K-19: The Widowmaker'

In [77]:
data = pd.read_csv('movie_bd_v5.csv')

# Создаём колонку 'profit'.
data['profit'] = data['revenue']-data['budget']

# Оставляем только фильмы от 'Paramount Pictures'.
data = data[data['production_companies'].str.contains('Paramount Pictures')]

# Находим фильм с минимальной рпибылью.
data[data['profit'] == data['profit'].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [78]:
answers['19'] = '2015'

In [79]:
data = pd.read_csv('movie_bd_v5.csv')

# Подсчитываем суммарную прибыль по годам, сортируем.
data.groupby(['release_year'])['revenue'].sum()\
.sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [80]:
answers['20'] = '2014'

In [81]:
data = pd.read_csv('movie_bd_v5.csv')

# Оставляем только фильмы студии Warner Bros.
data = data[data['production_companies'].str.contains('Warner Bros')]

# Создаём колонку 'profit'.
data['profit'] = data['revenue']-data['budget']

# Группируем фильмы по году выхода, суммируем прибыль.
grouped = data.groupby(['release_year'])['profit'].sum()

# Выводим искомый год.
display(grouped.sort_values(ascending=False).head(1))

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [82]:
answers['21'] = 'сентябрь'

In [83]:
data = pd.read_csv('movie_bd_v5.csv')

# Выделяем месяц из даты выхода фильмов.
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])

# Создаём сводную таблицу, в которой отражается в каком месяце вышел каждый из фильмов.
most_films = data.pivot_table(columns='month', index = 'original_title', values = 'imdb_id',\
                              aggfunc = 'count', fill_value=0)

# Подсчитываем общее количество фильмов в каждом месяце.
display(most_films.sum().sort_values(ascending=False).head(1))

month
9    227
dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [84]:
answers['22'] = '450'

In [85]:
data = pd.read_csv('movie_bd_v5.csv')

# Выделяем месяц из даты.
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])

# Фильтруем таблицу по летним месяцам, считаем количество фильмов.
len(data.loc[(data['month'] == '6')|(data['month'] == '7')\
             |(data['month'] == '8')]['original_title'])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [86]:
answers['23'] = 'Peter Jackson'

In [87]:
data = pd.read_csv('movie_bd_v5.csv')

# Выделяем месяц из даты.
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])

# Разносим режиссёров по разным строкам.
data['director'] = data['director'].apply(lambda x: x.split('|'))
data = data.explode('director')

# Подсчитываем количество фильмов за зимние месяцы для всех режиссёров.
data.loc[(data['month'] == '12')|(data['month'] == '1')\
         |(data['month'] == '2')]['director'].\
        value_counts(ascending=False).head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [88]:
answers['24'] = 'Four By Two Productions'

In [89]:
data = pd.read_csv('movie_bd_v5.csv')

# Подсчитываем длину названий всех фильмов.
data['original_title'] = data['original_title'].str.len()

# Разносим компании по разным строкам.
data['production_companies'] = data['production_companies'].\
apply(lambda x: x.split('|'))
data = data.explode('production_companies')

# Подсчитывыем среднюю длину названий фильмов для каждой компании.
data.groupby(['production_companies'])['original_title'].mean().\
sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    83.0
Name: original_title, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [90]:
answers['25'] = 'Midnight Picture Show'

In [91]:
data = pd.read_csv('movie_bd_v5.csv')

# Считаем количество слов в описании каждого фильма.
data['overview'] = data['overview'].str.split()
data['overview'] = data['overview'].apply(lambda x:len(x))

# Разносим компании по разным строкам.
data['production_companies'] = data['production_companies'].\
apply(lambda x: x.split('|'))
data = data.explode('production_companies')

# Подсчитываем среднее количество слов в описании фильмов для каждой компании.
data = data.groupby('production_companies')['overview'].mean().\
sort_values(ascending=False)

display(data.head(1))

production_companies
Midnight Picture Show    175.0
Name: overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [92]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [93]:
data = pd.read_csv('movie_bd_v5.csv')

# Выводим 1 % фильмов с наиболее высоким рейтингом.
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)\
         ['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

ВАРИАНТ 2

In [94]:
data = pd.read_csv('movie_bd_v5.csv')

# Создаём переменную, равную 1 % строк всего дата-сета.
str_1 = round(len(data['imdb_id'])*1/100)

# Cортируем фильмы по убыванию 'vote_average' и отсекаем 1 % с самым высоким рейтингом.
data.loc[data['vote_average'].sort_values(ascending=False).index[:(str_1)]]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013
283,tt0485947,47000000,3547209,Mr. Nobody,Jared Leto|Diane Kruger|Linh Äan Pháº¡m|Sarah ...,Jaco Van Dormael,"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,Science Fiction|Drama|Romance|Fantasy,Pan EuropÃ©enne Production|Virtual Films,9/11/2009,7.8,2009
1688,tt0469494,25000000,76181545,There Will Be Blood,Daniel Day-Lewis|Paul Dano|Dillon Freasier|Cia...,Paul Thomas Anderson,There Will Be Greed. There Will Be Vengeance.,"When ruthless oil prospector, Daniel Plainview...",158,Drama,Miramax Films|Ghoulardi Film Company|Paramount...,12/28/2007,7.8,2007
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002
155,tt2980516,15000000,121201940,The Theory of Everything,Eddie Redmayne|Felicity Jones|Harry Lloyd|Davi...,James Marsh,His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous ...,123,Drama|Romance,Working Title Films,11/26/2014,7.8,2014
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffa...,Michel Gondry,I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,Science Fiction|Drama|Romance,Anonymous Content|This Is That Productions|Foc...,3/19/2004,7.8,2004

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [95]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [96]:
data = pd.read_csv('movie_bd_v5.csv')

# Преобразуем актёров в список.
data['cast'] = data['cast'].apply(lambda x: x.split('|'))

# Считаем комбинации актёров (пары).
data['duets'] = data['cast'].\
apply(lambda x: list(itertools.combinations(x, 2)))

# Разносим пары по разным строкам.
data = data.explode('duets')

# Находим самую частую пару.
Counter(data['duets']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [97]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110.0',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [98]:
len(answers)

27